{% extends "base.html" %}

{% block title %}Expense{% endblock %}

{% block content %}
<h1>Expense</h1>
<br />
<br />

<form method="POST">
    <div class="row">

        <div class="col">
            <label for="debit" class="form-label">Debited</label>
            <input type="number" id="debit" name="debit" class="form-control">
        </div>

        <div class="col">
            <label for="credit" class="form-label">Credited</label>
            <input type="number" id="credit" name="credit" class="form-control">
        </div>

        <div class="col">
            <label for="description" class="form-label">Description</label>
            <input type="text" id="description" name="description" class="form-control">
        </div>

        <div class="col">
            <label for="category" class="form-label">Category</label>
            <select id="category" name="category" class="col form-select">
                {% for category in user.categories.split(',') %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add Expense</button>
</form>

<br />
<br />

<ul class="list-group list-group-flush" id="expenses">

    <li class="list-group-item">
        <div class="row fw-bold">
            <div class="col-2">Date & Time</div>
            <div class="col-2">Debit</div>
            <div class="col-2">Credit</div>
            <div class="col-3">Description</div>
            <div class="col-2">Category</div>
            <div class="col-1"></div>
        </div>
    </li>

    {% for expense in user.expenses %}
    <li class="list-group-item">
        <div class="row align-items-center">
            <div class="col-2">{{ expense.date.strftime("%d %b %H:%M") }}</div>
            <div class="col-2 text-danger">{{ expense.debit }}</div>
            <div class="col-2 text-success">{{ expense.credit }}</div>
            <div class="col-3">{{ expense.description }}</div>
            <div class="col-2">{{ expense.category }}</div>
            <div class="col-1">
                <button type="button" class="close" onClick="deleteNote({{ expense.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        
    </li>
    {% endfor %}
</ul>
<br />

{% endblock %}
